* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  text-align: center;
}

h1 {
  color: #333;
}

#recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.edit-btn {
  background: #f1c40f;
  color: white;
  margin-top: 10px;
}

.edit-btn:hover {
  background: #d4ac0d;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  margin-left: 10px;
}

.delete-btn:hover {
  background: #c0392b;
}

#recipeForm,
#editRecipeForm {
  margin: 50px;
  text-align: left;
}

#recipeForm input,
#editRecipeForm input,
#recipeForm textarea,
#editRecipeForm textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

#recipeForm button,
#editRecipeForm button {
  background: #27ae60;
  color: white;
  margin-top: 10px;
  transition: background 0.3s;
}

#recipeForm button:hover,
#editRecipeForm button:hover {
  background: #1e8449;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #443627;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

body {
  background-color: #f2f2f2;
  
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  background: #cc9861;
  margin: 20PX;
  border-radius: 5px;
}

.hero img {
  width: 400px;
  border-radius: 10px;
}

footer {
  background: #663603;
  color: white;
  padding: 10px;
  margin-top: 50px;
}
